JSPMVCProject_2/src/main/webapp/xml/member.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	<member>
		<list>
			<no>1</no>
			<name></name>
			<address></address>
			<phone></phone>
			<email></email>
		</list>
		<list>
			<no>1</no>
			<name></name>
			<address></address>
			<tel></tel>
		</list>
	</member>
 -->
 
 <!ELEMENT member (list+)>
 <!ELEMENT list (no,name,address,(phone|tel),email?)>
 <!ELEMENT no (#PCDATA)>
 <!ELEMENT name (#PCDATA)>
 <!ELEMENT address (#PCDATA)>
 <!ELEMENT phone (#PCDATA)>
 <!ELEMENT tel (#PCDATA)>
 <!ELEMENT email (#PCDATA)>